env/
.venv/
.deploy/
server.log
static/assets
source_code.zip
.idea
__pycache__
*.DS_Store
develop/
deploy/
deploy_logs/
data/
dump.rdb
node_modules/
test-results/
playwright-report/
playwright-video/
